        <div class="container">

            <!--Form with header-->
            <div class="card mb-4 col-11 col-sm-8 mx-auto p-0">

                <div class="card-header">
                    <div class="bg-light text-center">
                        <h3>Új esemény létrehozása</h3>
                    </div>
                </div>

                <!--card-body-->
                <div class="card-body">

                  <!-- át kell adni az értéket paraméterben! -->
                  <form #eventForm="ngForm" (ngSubmit)="onSubmit(eventForm.value)">

                    <div class="form-group">
                        <label for="esemeny">Esemény címe:</label>
                        <input type="text" class="form-control mb-3" id="esemeny"
                        placeholder="Esemény címe"
                        name="name"
                        [(ngModel)]="event.name" required>
<!-- [(ngModel)]="event.name"> az Event osztályváltozó name property-jét összerendelem a name input field belső tartalmával -->
                    </div>

                    <div class="form-group">
                        <label for="idopont">Esemény időpontja</label>
                        <input type="date" class="form-control mb-3" id="idopont"
                        placeholder="Esemény időpontja"
                        name="date"
                        [(ngModel)]="event.date">
                    </div>

                    <div class="form-group mx-auto mt-3">

                      <label for="eventPicUrl">Válassz képet az eseményhez</label>
                      <input type="text" class="form-control mb-3" id="eventPicUrl"
                      placeholder="Eseményhez tartozó kép URL-je"
                      name="pictureUrl"
                      [(ngModel)]="event.pictureURL">

                  </div>

                    <div class="form-group">
                            <label for="leiras">Esemény leírása</label>
                            <textarea class="form-control"
                            placeholder="Esemény leírása" id="leiras"
                            name="description"
                            [(ngModel)]="event.description">
                            </textarea>
                    </div>

                    <!-- az eredeti routerLink-et ki kell törölni, enélkül form is not connected error
                      a fenti ngSubmit felülírja az alapértelmezett submit működést -->
                    <div class="text-center mb-3">
                            <input class="btn btn-primary btn-lg"
                            type="submit" value="létrehozás"
                            [disabled]="eventForm.invalid">
                    <!-- required-dé tettem az esemény címét, így a gomb csak akkor aktív, ha ez ki van töltve -->
                    </div>

                  </form>

                </div>

            </div>

        </div>
