<!-- keresés, létrehozás -->

<div class="row  justify-content-around px-5 ">

    <div class="col-auto text-center">
        <label>Keresés az események között</label>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Esemény neve">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Keresés</button>
        </form>
    </div>

    <div class="my-2 my-lg-0 text-center" *ngIf="_userService.isLoggedIn;">
        <div>
            <label>Eseményt szeretnék létrehozni</label>
        </div>
        <div class="w-100"></div>
        <div><a routerLink="./new" class="btn btn-primary" role="button">Új esemény létrehozása</a></div>
    </div>

</div>

    <!-- átalakítás az eventModel és a Service létrehozása után - példa ngFor-ra
    event-list component-ben lévő events tömböt járja végig, mindegyik elemhez létrehoz egy div-et
    <div *ngFor="let ev of events"> {{ev.name}} </div>
    -->

     <!-- [esemeny]-nek értéket kell adni, különben cant read id of undefined errort kapunk
    eventcart component html-ben megadtuk, hogy esemeny.id legyen a paraméter, de itt még nem kapott értéket

    3 tömböt hozunk létre a külső ngFor-ral, ezekben mindegyikben 3 esemény lesz, ezt a belső ngFor hozza létre
    külső ngFor a 3 div-et hozza létre, a 2. pedig az eventcard 3-3-3 elemeket -->

    <div class="card-deck pt-5 pb-5" *ngFor="let evt of eventsGrouppedBy3">

        <app-eventcard class="col col-md-6 col-lg-4" *ngFor ="let ev of evt" [esemeny]="ev">
        </app-eventcard>

    </div>


<!-- régi kód
    <div class="card-deck pt-5 pb-5">

        <app-eventcard class="col col-md-6 col-lg-4"></app-eventcard>
        <app-eventcard class="col col-md-6 col-lg-4"></app-eventcard>
        <app-eventcard class="col col-md-6 col-lg-4"></app-eventcard>

    </div>

    <div class="card-deck pt-5 pb-5">

        <app-eventcard class="col col-md-6 col-lg-4"></app-eventcard>
        <app-eventcard class="col col-md-6 col-lg-4"></app-eventcard>
        <app-eventcard class="col col-md-6 col-lg-4"></app-eventcard>

    </div>

    <div class="card-deck pt-5 pb-5">

        <app-eventcard class="col col-md-6 col-lg-4"></app-eventcard>
        <app-eventcard class="col col-md-6 col-lg-4"></app-eventcard>
        <app-eventcard class="col col-md-6 col-lg-4"></app-eventcard>

    </div>
-->

