        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">Jegybazár</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavAltMarkup"
                [collapse]="isCollapsed" [isAnimated]="true">
                    <div class="navbar-nav ml-auto">
                        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/home">Home</a>
                        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/event">Események</a>
                        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/ticket">Jegyek</a>
                        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/about">Rólunk</a>

                      <!-- Belépés+Regisztráció ne látszódjon, csak ha nincs bejelentkezve a user
                      div-et használva szétesik a design, hiszen új elem került be, az ng-container
                      beépített direktíva azonban semmilyen formában nem jelenik meg a DOM-ban !

                      https://angular.io/api/common/NgIf#description -> elseblock doksi
                      ha nincs belogolva, akkor az ngIf feltétel teljesül, ha igen, akkor az else Block -->
                      <ng-container *ngIf="!userService.isLoggedIn; else loggedinBlock">

                        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/user/login">Belépés</a>
                        <a routerLinkActive="active" routerLink="/user/register" class="nav-item nav-link btn btn-primary text-light ml-lg-2 btn-sm">Regisztráció</a>

                      </ng-container>

                      <ng-template #loggedinBlock>
                        <!-- loginhoz szükséges egy Kijelentkezés gomb is -->
                        <a routerLinkActive="active" class="nav-item nav-link tn btn-primary text-light ml-lg-2 btn-sm"
                          routerLink="/home" (click)="logout()">Kijelentkezés</a>
                      </ng-template>

                      </div>
                </div>
            </div>
        </nav>
        <!-- navbar end -->
