<div class="card">
    <img class="card-img-top" src="assets/sziget.png" alt="Card image cap">
    <div class="card-body">
        <h4 class="card-title">Sziget Fesztivál</h4>
        <p class="card_text card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo.</p>
        <p class="card-text"><small class="text-muted">2017-08-03</small></p>
        <!-- a számot majd a komponens konstruktor fogja generálni, a ../ visszalépést jelent :
        a routing-ban az event/list az alapértelmezett útvonal(navbar component-ben adtuk meg),
        a ../-rel visszalépünk az event route-ra és ehhez jön pluszba a /5/edit -->
        <a [routerLink]="['../' , 5, 'edit']" class="row justify-content-end pr-4">Tovább</a>
    </div>
</div>

<!-- komponensre bontásnál csak 1 card-ot használunk, és 3-szor van meghívva az <app-eventcard> a html-ben.. 
hogyan lehet mind a 3 különböző kártyát berakni? 

                <div class="col col-md-6 col-lg-4">
                    <div class="index_card text-center">
                        <div class="row justify-content-center">
                            <img class="card-img-top img-fluid calendar" src="assets/ticket.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title text-center">Jegyek</h4>
                            <p class="index_text card-text">Ha sietsz, egyből kezdheted a jegyek böngészésével is. Itt is tudsz keresni az esemény neve vagy időpontja alapján.</p>
                            <a href="#" class="btn btn-primary index_btn_card">Jegyek</a>
                        </div>
                    </div>
                </div>

                <div class="col col-md-8 mx-md-auto col-lg-4">
                    <div class="index_card text-center col">
                        <div class="row justify-content-center">
                            <img class="card-img-top img-fluid calendar" src="assets/user.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Regisztráció</h4>
                            <p class="index_text card-text">Még nem regisztráltál? Akkor gyorsan tedd meg, mert a szolgáltatás csak tagonkak elérhető. Sőt, az újak értékes ajándékot kapnak tőlünk.</p>
                            <a href="regisztracio.html" class="btn btn-primary index_btn_card">Regisztráció</a>
                        </div>
                    </div>
                </div>
                -->
