<div class="container mb-5 mt-5">

    <!-- Login form. -->

    <div class="row justify-content-center row-login-form">
        <div class="col-10 col-sm-8 col-md-6 col-lg-4">

            <!-- Alert message. -->

            <div class="alert alert-primary alert-dismissible fade show mt-2" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                Hello, itt tudsz belépni.
            </div>

            <div class="card border-secondary mt-3 mb-4">
                <div class="card-header">Bejelentkezés</div>
                <div class="card-body">

                        <div class="form-group">
                            <label for="loginEmail">Email</label>
                            <input title="hibás email cím" name="loginEmail" type="email" class="form-control"
                                id="loginEmail" placeholder="email" value="angular" #email>
                                <!-- #email : template referencia, mutató,
                                meghívható lent a submit-nál az #email mutató alapján,
                                az email és password input értéke lesz a 2 paraméter a login függvényben -->
                            <small id="emailHelp" class="form-text text-muted">A címed nálunk biztonságban lesz</small>
                        </div>
                        <div class="form-group">
                            <label for="loginPassword">Jelszó</label>
                            <input name="loginPassword" type="password" class="form-control" id="loginPassword"
                                placeholder="jelszó" value="angular" #password>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input name="rememberMe" type="checkbox" class="form-check-input">
                                Emlékezz rám
                            </label>
                        </div>
                        
                        <!-- régi button, még a user model és service előtt 
                        Miután meg van a Model és a service logikája, ezután a login Component-ben meg kell 
                        írni magát a login() függvényt. 
A login component html-ben a  submit button-nél eddig ezt routerLink-kel átirányítottuk /user-re, 
ehelyett mostmár a login component ts login() függvényét használjuk helyette, html-ben is át kell írni a 
routerlinket 
                        <button type="submit" 
                        routerLink="/user"
                        class="btn btn-primary">Belépés</button>
-->
                        <button class="btn btn-primary"
                        (click)="login(email.value, password.value)">Belépés</button>

                </div>
            </div>

        </div>
        
    </div>
    <!-- Login formend -->

</div>